body {
    background-image: linear-gradient(#e93b81, #fff5b7);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1, h2 {
    color: #72147e;
    margin: 20px 0 20px 0;
}

span {
    color: white;
}

.btn-analyse {
    font-size: 40px;
    margin-top: 30px;
}

textarea {
    border-radius: 34px;
    font-size: 30px;
}